* {
    color: red;
}
div.connected p {
    color: green;
}

div.connected p::before {
    content: 'jkjnndkall';
    color: yellow;
}
.hover a{
    color: green;
    text-decoration:none;
}                                                                                                                                                                                                                            

ul li:first-child {
    color:violet;
}
ul li:nth-of-type(even){
    color:orange
}
input[title] {
    border: 2px solid violet;
}

input[title="trzeci"] {
    border: 2px solid aqua;

}
input[title~="input"] {
    border:2px solid brown;
}
input[title*="pi"]{
    border: 2px solid green;
}
input [title^="pierw"] {
    border: 2px solid pink;
}
.relative{
    position: relative
}
.orange,
.grey {
    height: 600px:
}
.orange {
    background-color: orange;
    position: absolute;
    top:100px;
    left: 60px;
}
.grey{
    background-color: gray;
}

#main-nav {
    position: sticky;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
}